.App {
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cross-item {
  text-decoration: line-through;
}